.tablecenter {
    margin-left: auto;
    margin-right: auto;
  }
#webmenu{
    width: 340px;
}
.responsive {
  width: 100%;
  height: auto;
}
.center {
    text-align:center;
}
body, html {
  height: 100%;
}
.img {
  opacity: 0.5;
}
.opacity{
    background: rgba(204, 204, 204, 0.5);
}
.example {
  background-color:rgb(255, 255, 255); 
} 
td.colorfy {
  background: rgb(255, 0, 0) !important;
  color: white;
}

/* #bodypkmn {
  background-image: url('https://s.isanook.com/ga/0/ui/227/1135633/pokemon_scarlet_violet_8.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
} */


/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c4.wallpaperflare.com/wallpaper/650/521/292/pokemon-greninja-pokemon-hd-wallpaper-preview.jpg");
/* Set a specific height */
height: 30%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}